<template>
    <div class="chat-lists">
        <div class="messages" v-for="chat in chats">
            
            <div class="chat-box">
                <div class="users">
                    {{chat.user.username}} 
                </div>
                <div class="message">
                        {{chat.subject}}
                </div>
                <span class="time">{{chat.created_at}}</span>
            </div>
            
        </div>
    </div>
</template>

<script>
    import BusEvent from '../../bus'

    export default {
        data() {
            return {
                chats : []
            }
        },
        mounted() {
            this.getAllChats();
            BusEvent.$on('chat.send', (newChat) => {
                // console.log(newChat);
                this.chats.push(newChat);
                this.scrollToBottom()
            });
        }, 
        methods : {
            getAllChats() {
                    axios.get('/chat/all-chats').then(response => {
                        this.chats = response.data.reverse();
                        this.scrollToBottom()
                });
            },
            scrollToBottom() {
                setTimeout(function() {
                    let chatLists = document.getElementsByClassName('chat-lists')[0];
                    chatLists.scrollTop = chatLists.scrollHeight
                }, 1);
            }
        }
    }
</script>

<style lang="scss">
    .messages {
        margin-top:5px;
        .time {
            font-weight:800;
        }
        .users {
            font-weight: 800;
        }
        .message {
            font-size: 1.2rem;
        }
    }
    .chat-lists {
        max-height : 300px;
        overflow-y : scroll;
    }
    .chat-box {border: 2px solid #dedede; background-color: #f1f1f1; border-radius: 5px; padding: 10px; margin: 10px 0;}
    .gelap {border-color: #ccc; background-color: #ddd;}
    .chat-box::after {content: ""; clear: both; display: table;}
    .right {float: right; color: #575252;}
    .left {float: left; color: #3b3939;}
</style>
