<template>
    <div class='chat-box'>
        <chat-message-component/>
        <chat-form-component/>
    </div>
</template>

<script>
    export default {
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>
