<template>
                <div class="card">
                    <div class="card-header bg-primary text-light">List Peserta</div>

                    <div class="card-body">
                       <table class="table table-responsive">
                       <thead>
                        <tr>
                            <th>No</th>
                            <th>Nama Lengkap</th>
                            <th>Jenis Kelamin</th>
                            <th>Tanggal Lahir</th>
                            <th>Alamat</th>
                            <th>No Telp</th>
                            <th>Nama Kontak Darurat</th>
                            <th>No Telp kontak Darurat</th>
                            <th>Action</th>
                        </tr>
                       </thead>
                       <tbody>
                       <template v-if="participants.length>0">
                            <tr v-for='(peserta,index) in participants'>
                                <td>{{index+1}}</td>
                                <td>{{peserta.profile.nama_lengkap}}</td>
                                <td>{{peserta.profile.jenis_kelamin}}</td>
                                <td>{{peserta.profile.tanggal_lahir}}</td>
                                <td>{{peserta.profile.alamat}}</td>
                                <td>{{peserta.profile.no_telp}}</td>
                                <td>{{peserta.profile.nama_kontak_darurat}}</td>
                                <td>{{peserta.profile.no_telp_darurat}}</td>
                                <td>
                                <a class="btn btn-primary" :href="'/peserta/' + peserta.profile.id+'/edit'">Edit</a>
                                <button ref="deleteNote" class="btn btn-danger" @click="deletePeserta(index,peserta.id)">Delete</button></td>
                            </tr>
                            </template>
                            <template v-else>
                            <tr><td colspan='5'>Belum Ada Profile Peserta</td></tr>
                            </template>
                       </tbody>
                       </table>
                    </div>
                </div>
            
</template>

<script>
    export default {
        data: function(){
            return{
                participants:[]
            }
        },
        methods: {
            async getData(){
                
                let response = await axios.get('/peserta/all');
                    // console.log(response.data);
                    if(response.data.response_status=='success'){
                        this.participants = response.data.data;
                        // console.log(this.participants[0].profile.alamat);
                    }
                
            },
        async deletePeserta(index,id){
            let c =window.confirm('Yakin ingin menghapus data?');
            if(c){
                // console.log(this.$refs.deleteNote[index].parentNode.parentNode.remove())
                 try{
                 let response = await axios.post('/peserta/'+id+'/delete');
                     console.log(response.data);
                     if(response.data.response_status=='success'){
                    //   console.log('berhasil');
                     alert('Berhasil Menghapus Peserta');
                        this.$refs.deleteNote[index].parentNode.parentNode.remove()
                     }
                 }catch(e){
                     alert(e)
                 }
                
            }
            
                
            }
        },
        mounted() {
            this.getData();
        }
    }
</script>
