<template>
<div clas="row">
<div class="col-md-8">
                <div class="card">
                    <div class="card-header bg-primary text-light">Pembayaran Lomba {{category.nama}}</div>
                    <div class="card-body">
                    
                       <ul class="list-group">
                    <li class="list-group-item">Nama Lomba: {{category.nama}}</li>
                    <li class="list-group-item">Deksripsi Lomba: {{category.deskripsi}}</li>
                    <li class="list-group-item">Tempat: {{category.tempat}}</li>
                    <li class="list-group-item">Waktu: {{category.waktu}}</li>
                    <li class="list-group-item">Biaya Pendaftaran: {{category.biaya_pendaftaran}}</li>
                    </ul>
                    </div>
                    <div class='card-footer'><button class="btn btn-success float-right" v-on:click="handleBayar">Bayar Sekarang</button></div>
                </div>
                </div>
  </div>
            
</template>

<script>
    export default {
        data: function(){
            return{
                pendaftaran:[],
                category:[],
                user:[],
                profile:[],
                id_pendaftaran:Laravel.id,
                data_midtrans:{
                    transaction_details :{
                        order_id: 'order-'+this.genOrder(8),
                        gross_amount: 0,
                    },
                    costumer_detail:{
                        first_name:'',
                        email: '',
                        phone: '',
                    },
                    // item_details:{
                    //     id: '',
                    //     price: 0,
                    //     quantity: 1,
                    //     name: '',
                    // }
                }
            }
        },
        methods: {
            async getData(){
                
                let response = await axios.get('/pendaftaran/'+this.id_pendaftaran+'/show');
                    // console.log(response.data.data);
                    if(response.data.response_status=='success'){
                        this.pendaftaran = response.data.data;
                        this.category = response.data.data.category;
                        this.user = response.data.data.user;
                        this.profile = response.data.data.profile;
                        this.data_midtrans.transaction_details.gross_amount=response.data.data.category.biaya_pendaftaran
                        this.data_midtrans.costumer_detail.first_name=response.data.data.user.profile.nama_lengkap
                        this.data_midtrans.costumer_detail.email=response.data.data.user.email
                        this.data_midtrans.costumer_detail.phone=response.data.data.user.profile.no_telp

                        // this.data_midtrans.item_details.id=response.data.data.category.id;
                        // this.data_midtrans.item_details.price=response.data.data.category.biaya_pendaftaran;
                        // this.data_midtrans.item_details.quantity=1;
                        // this.data_midtrans.item_details.name=response.data.data.category.nama;

                    }
                
            },
            async handleBayar(){
                console.log(this.data_midtrans)
                let response = await axios.post('/generate',{race_registration_id:this.pendaftaran.id,data:this.data_midtrans}).then(response=>{
                    snap.pay(response.data.data.token)
                    // console.log(response.data.data);
                }, response=>{
                    console.log('Error '+response)
                })
            },
            genOrder(length) {
            var result           = '';
            var characters       = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';
            var charactersLength = characters.length;
            for ( var i = 0; i < length; i++ ) {
                result += characters.charAt(Math.floor(Math.random() * charactersLength));
            }
            return result;
            }
            
        },
        mounted() {
            this.getData();
        }
    }
</script>
