<template>
                <div class="card">
                    <div class="card-header bg-primary text-light">Pendaftaran Lomba Lari </div>

                    <div class="card-body">
                       <table class="table table-responsive">
                       <thead>
                        <tr>
                            
                            <th>Kategori</th>
                            <th>Deskripsi</th>
                            <th>Tempat</th>
                            <th>Waktu</th>
                            <th>Biaya Pendaftaran</th>
                            <th>Action</th>
                        </tr>
                       </thead>
                       <tbody>
                       <template v-if="kategori.length>0">
                            <tr v-for='(cat,index) in kategori'>
                                
                                <td>{{cat.nama}}</td>
                                <td>{{cat.deskripsi}}</td>
                                <td>{{cat.tempat}}</td>
                                <td>{{cat.waktu}}</td>
                                <td>Rp. {{cat.biaya_pendaftaran}}</td>
                                <td><button ref="deleteBtn" class="btn btn-success" @click="daftar(index,cat.id)">Daftar</button></td>
                            </tr>
                            </template>
                            <template v-else>
                            <tr><td colspan='5'>Belum Ada Kategori Lomba Yang Bisa Di Ikuti</td></tr>
                            </template>
                       </tbody>
                       </table>
                    </div>
                </div>
            
</template>

<script>
    export default {
        data: function(){
            return{
                kategori:[]
            }
        },
        methods: {
            async getData(){
                
                let response = await axios.get('/pendaftaran/kategori');
                    // console.log(response.data);
                    if(response.data.response_status=='success'){
                        this.kategori = response.data.data;
                    }
                
            },
            async daftar(index,id){
            let c =window.confirm('Yakin ingin Daftar?');
            if(c){
                // console.log(this.$refs.deleteBtn[index].parentNode.parentNode.remove())
                 try{
                 let response = await axios.post('/pendaftaran/store',{category_id:id});
                     console.log(response.data);
                     if(response.data.response_status=='success'){
                    //   console.log('berhasil');
                     alert('Pendaftaran Berhasil');
                        this.$refs.deleteBtn[index].parentNode.parentNode.remove()
                     }
                 }catch(e){
                     alert(e)
                 }
                
            }
            
                
            }
        },
        mounted() {
            this.getData();
        }
    }
</script>
