<template>
<div clas="row">
<div class="col-md-4">
                <div class="card">
                    <div class="card-header bg-primary text-light">Pembayaran Lomba {{category.nama}}</div>
                    <div class="card-body">
                       <ul class="list-group">
                    <li class="list-group-item">Nama Lomba: {{category.nama}}</li>
                    <li class="list-group-item">Deksripsi Lomba: {{category.deskripsi}}</li>
                    <li class="list-group-item">Tempat: {{category.tempat}}</li>
                    <li class="list-group-item">Waktu: {{category.waktu}}</li>
                    <li class="list-group-item">Biaya Pendaftaran: {{category.biaya_pendaftaran}}</li>
                    <li class="list-group-item">Status Pembayaran: {{pendaftaran.status_pembayaran}}</li>
                    </ul>
                    </div>
                </div>
                </div>
  </div>
            
</template>

<script>
    export default {
        data: function(){
            return{
                pendaftaran:[],
                category:[],
                id_pendaftaran:Laravel.id
            }
        },
        methods: {
            async getData(){
                
                let response = await axios.get('/pendaftaran/'+this.id_pendaftaran+'/show');
                    console.log(response.data.data);
                    if(response.data.response_status=='success'){
                        this.pendaftaran = response.data.data;
                        this.category = response.data.data.category;
                    }
                
            },
            
        },
        mounted() {
            this.getData();
        }
    }
</script>
