<template>
                <div class="card">
                    <div class="card-header bg-primary text-light">Daftar Lomba Yang Di Ikuti</div>

                    <div class="card-body">
                       <table class="table ">
                       <thead>
                        <tr>
                            
                            <th>Kategori</th>
                            <th>Biaya Pendaftaran</th>
                            <th>Status Pembayaran</th>
                            <th>Action</th>
                        </tr>
                       </thead>
                       <tbody>
                       <template v-if="pendaftaran.length>0">
                            <tr v-for='(daftar,index) in pendaftaran'>
                                
                                <td>{{daftar.category.nama}}</td>
                                <td>Rp. {{daftar.category.biaya_pendaftaran}}</td>
                                <td>{{daftar.status_pembayaran}}</td>
                                <td>
                                <template v-if="daftar.status_pembayaran=='pending'">
                                <a :href="'/pendaftaran/'+daftar.id+'/bayar'" class="btn btn-success">Bayar</a>
                                <button ref="deleteThis" class="btn btn-danger" @click="deleteReg(index,daftar.id)">Batal</button>
                                </template>
                                <template v-else><span>Pendaftaran Berhasil</span></span></template>
                                </td>
                            </tr>
                            </template>
                            <template v-else>
                            <tr><td colspan='4'>Anda Belum Mendaftar Lomba</td></tr>
                            </template>
                       </tbody>
                       </table>
                    </div>
                </div>
            
</template>

<script>
    export default {
        data: function(){
            return{
                pendaftaran:[]
            }
        },
        methods: {
            async getData(){
                
                let response = await axios.get('/pendaftaran/list');
                    console.log(response.data);
                    if(response.data.response_status=='success'){
                        this.pendaftaran = response.data.data;
                    }
                
            },
            async deleteReg(index,id){
            let c =window.confirm('Yakin ingin membatalkan pendaftaran?');
            if(c){
                // console.log(this.$refs.deleteThis[index].parentNode.parentNode.remove())
                 try{
                 let response = await axios.post('/pendaftaran/'+id+'/cancel');
                    //  console.log(response.data);
                     if(response.data.response_status=='success'){
                    //   console.log('berhasil');
                     alert('Berhasil Membatalkan Pendaftaran');
                        this.$refs.deleteThis[index].parentNode.parentNode.remove()
                     }
                 }catch(e){
                     alert(e)
                 }
                
            }
            
                
            }
        },
        mounted() {
            this.getData();
        }
    }
</script>
