<template>
                <div class="card">
                    <div class="card-header bg-primary text-light">List Peserta Kategori {{category.nama}}</div>

                    <div class="card-body">
                       <table class="table table-responsive">
                       <thead>
                        <tr>
                            <th>No</th>
                            <th>Nama Lengkap</th>
                            <th>Jenis Kelamin</th>
                            <th>Tanggal Lahir</th>
                            <th>No Telp</th>
                            <th>Status Pembayaran</th>
                            <th>Action</th>
                        </tr>
                       </thead>
                       <tbody>
                        <template v-if="participants.length>0">
                            <tr  v-for='(peserta,index) in participants'>
                                <td>{{index+1}}</td>
                                <td>{{peserta.user.profile.nama_lengkap}}</td>
                                <td>{{peserta.user.profile.jenis_kelamin}}</td>
                                <td>{{peserta.user.profile.tanggal_lahir}}</td>
                                <td>{{peserta.user.profile.no_telp}}</td>
                                <td>{{peserta.status_pembayaran}}</td>
                                <td>
                                <button class="btn btn-success" @click="updatePembayaran(index,peserta.id)">Update Pembayaran</button>
                                <button ref="deleteThis" class="btn btn-danger" @click="deletePeserta(index,peserta.id)">Delete</button></td>
                            </tr>
                            </template>
                            <template v-else>
                            <tr><td>Belum Ada Peserta</td></tr>
                            </template>
                       </tbody>
                       </table>
                    </div>
                </div>
            
</template>

<script>
    export default {
        data: function(){
            return{
                participants:[],
                category:[],
                category_id:Laravel.id
            }
        },
        methods: {
            async getData(){
                
                let response = await axios.get('/categories/'+this.category_id);
                    // console.log(response.data);
                    if(response.data.response_status=='success'){
                        this.participants = response.data.data.peserta;
                        this.category = response.data.data;
                        // console.log(this.participants);
                    }
                
            },
        async deletePeserta(index,id){
            let c =window.confirm('Yakin ingin menghapus data?');
            if(c){
                // console.log(this.$refs.deleteThis[index].parentNode.parentNode.remove())
                 try{
                 let response = await axios.post('/pendaftaran/'+id+'/cancel');
                    //  console.log(response.data);
                     if(response.data.response_status=='success'){
                    //   console.log('berhasil');
                     alert('Berhasil Membatalkan Pendaftaran');
                        this.$refs.deleteThis[index].parentNode.parentNode.remove()
                     }
                 }catch(e){
                     alert(e)
                 }
                
            }
            
                
            },
            async updatePembayaran(index,id){
            let c =window.confirm('Yakin ingin merubah status pembayaran?');
            if(c){
                // console.log(this.$refs.deleteThis[index].parentNode.parentNode.remove())
                 try{
                 let response = await axios.post('/pendaftaran/'+id+'/status');
                    // console.log(response.data);
                     if(response.data.response_status=='success'){
                    //   console.log('berhasil');
                     alert('Berhasil');
                     this.participants[index].status_pembayaran=response.data.data.status_pembayaran
                     }
                 }catch(e){
                     alert(e)
                 }
                
            }
            
                
            }
        },
        mounted() {
            this.getData();
        }
    }
</script>
