<template>
    <div class="card">
        <div class="card-header bg-primary text-light">List Categories</div>

        <div class="card-body">
        <a :href="'/categories/create'" class="btn btn-primary mb-1">Tambah Kategori</a>
            <table class="table ">
            <thead>
            <tr>
                <th>No</th>
                <th>Nama</th>
                <th>Deskripsi</th>
                <th>Tempat</th>
                <th>Waktu</th>
                <th>Biaya Pendaftaran</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <template v-if="categories.length>0">
                <tr v-for="(kategori, index) in categories" :key="index">
                    <td>{{index+1}}</td>
                    <td>{{kategori.nama}}</td>
                    <td>{{kategori.deskripsi}}</td>
                    <td>{{kategori.tempat}}</td>
                    <td>{{kategori.waktu}}</td>
                    <td>{{kategori.biaya_pendaftaran}}</td>
                    <td>
                    <a class="btn btn-success" :href="'/categories/' + kategori.id+'/peserta'">List Peserta</a>
                    <a class="btn btn-primary" :href="'/categories/' + kategori.id+'/edit'">Edit</a>
                    <button ref="deleteThis" class="btn btn-danger" @click="deleteCategory(index,kategori.id)">Delete</button></td>
                    <td></td>
                </tr>
                </template>
                <template v-else>
                            <tr><td>Belum Ada Kategori</td></tr>
                            </template>
            </tbody>
            </table>
        </div>
    </div>
            
</template>

<script>
    export default {
        data: function(){
            return{
                categories:[]
            }
        },
        methods: {
            async getData(){
                
                let response = await axios.get('/categories/all');
                    console.log(response.data);
                     if(response.data.response_status=='success'){
                        this.categories = response.data.data;
                        // console.log(this.participants[0].profile.alamat);
                    }
                
            },
        async deleteCategory(index,id){
            let c =window.confirm('Yakin ingin menghapus data?');
            if(c){
                // console.log(this.$refs.deleteThis[index].parentNode.parentNode.remove())
                 try{
                 let response = await axios.post('/categories/'+id+'/delete');
                    //  console.log(response.data);
                     if(response.data.response_status=='success'){
                    //   console.log('berhasil');
                     alert('Berhasil Menghapus Peserta');
                        this.$refs.deleteThis[index].parentNode.parentNode.remove()
                     }
                 }catch(e){
                     alert(e)
                 }
                
            }
            
                
            }
        },
        mounted() {
            this.getData();
        }
    }
</script>