 <template>

<div class="card">
                <div class="card-header">Form Category</div>

                <div class="card-body">
                    <form action="#" method="post" @submit.prevent="store">
                    <div class="form-group">
                              <label for="nama">Nama Kategori</label>
                              <input type="text" id="nama" v-model="form.nama" class="form-control">
                              <small v-if="errors.nama" class="text-danger">{{errors.nama[0]}}</small>
                    </div>
                    <div class="form-group">
                              <label for="deskripsi">Deskripsi</label>
                              <textarea id="deskripsi" v-model="form.deskripsi" class="form-control"></textarea>
                              <small v-if="errors.deskripsi" class="text-danger">{{errors.deskripsi[0]}}</small>
                    </div>
                    <div class="form-group">
                              <label for="tempat">Tempat</label>
                              <input type="text" id="tempat" v-model="form.tempat" class="form-control">
                              <small v-if="errors.tempat" class="text-danger">{{errors.tempat[0]}}</small>
                    </div>
                    <div class="form-group">
                              <label for="waktu">Waktu</label>
                              <input type="datetime-local" id="waktu" v-model="form.waktu" class="form-control">
                              <small v-if="errors.waktu" class="text-danger">{{errors.waktu[0]}}</small>
                    </div>
                    <div class="form-group">
                              <label for="biaya_pendaftaran">Biaya Pendaftaran</label>
                              <input type="number" placeholder="Rp." id="biaya_pendaftaran" v-model="form.biaya_pendaftaran" class="form-control">
                              <small v-if="errors.biaya_pendaftaran" class="text-danger">{{errors.biaya_pendaftaran[0]}}</small>
                    </div>
                    <div class="form-group">
                              <button class="btn btn-primary">Save</button>
                    </div>
                    </form>
                </div>
            </div>
</template>

<script>
    export default {
        data: function(){
            return{
                form:{
                    nama:'',
                    deskripsi:'',
                    tempat:'',
                    waktu:'',
                    biaya_pendaftaran:''
                },
                errors:[]
            }
        },
        methods: {
            async store(){
                // console.log(this.form);
                try{
                let response = await axios.post('/categories/store',this.form);
                    // console.log(response.data);
                    if(response.data.response_status=='success'){
                    // console.log('berhasil');
                    alert('Berhasil Menyimpan Kategori');
                    window.location.href = '/categories';
                    this.errors = [];
                    }
                }catch(e){
                    alert('Gagal Menyimpan Profile')
                this.errors =  e.response.data.errors;

                }
            }
        },
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>
