<template>
                <div class="card">
                    <div class="card-header bg-primary text-light">Log Activity</div>

                    <div class="card-body">
                       <table class="table ">
                       <thead>
                        <tr>
                            <th>No</th>
                            <th>Subject</th>
                            <th>URL</th>
                            <th>Method</th>
                            <th>Ip</th>
                            
                            <th>User Id</th>
                            <th>On</th>
                            <th>Action</th>
                        </tr>
                       </thead>
                       <tbody>
                            <template v-if="logs.length>0">
                            <tr v-for='(log,index) in logs'>
                                <td>{{index+1}}</td>
                                <td>{{log.subject}}</td>
                                <td>{{log.url}}</td>
                                <td>{{log.method}}</td>
                                <td>{{log.ip}}</td>
                                
                                <td>{{log.user_id}}</td>
                                <td>{{log.created_at}}</td>
                                <td><button ref="deleteThis" class="btn btn-danger" @click="deleteLog(index,log.id)">Delete</button></td>
                            </tr>
                            </template>
                            <template v-else>
                            <tr><td colspan='5'>Belum Ada Log Aktifitas</td></tr>
                            </template>
                       </tbody>
                       </table>
                    </div>
                </div>
            
</template>

<script>
    export default {
        data: function(){
            return{
                logs:[]
            }
        },
        methods: {
            async getData(){
                
                let response = await axios.get('/log/all');
                    // console.log(response.data);
                    if(response.data.response_status=='success'){
                        this.logs = response.data.data;
                    }
                
            },
             async deleteLog(index,id){
            let c =window.confirm('Yakin ingin menghapus data?');
            if(c){
                // console.log(this.$refs.deleteThis[index].parentNode.parentNode.remove())
                 try{
                 let response = await axios.post('/log/'+id+'/delete');
                     console.log(response.data);
                     if(response.data.response_status=='success'){
                    //   console.log('berhasil');
                     alert('Berhasil Menghapus Log');
                        this.$refs.deleteThis[index].parentNode.parentNode.remove()
                     }
                 }catch(e){
                     alert(e)
                 }
                
            }
            
                
            }
        },
        mounted() {
            this.getData();
        }
    }
</script>
