 <template>

<div class="card">
                <div class="card-header">Edit Profile</div>

                <div class="card-body">
                    <form action="#" method="post" @submit.prevent="store">
                    <div class="form-group">
                              <label for="nama_lengkap">Nama Lengkap</label>
                              <input type="text" id="nama_lengkap" v-model="form.nama_lengkap" class="form-control">
                              <small v-if="errors.nama_lengkap" class="text-danger">{{errors.nama_lengkap[0]}}</small>
                    </div>
                    <div class="form-group">
                              <label for="jenis_kelamin">Jenis Kelamin</label>
                              <select id="jenis_kelamin" @change="selectedJK" class="form-control">
                              <option value="l" v-if="form.jenis_kelamin=='l'" selected>L</option>
                              <option value="l" v-else>L</option>

                              <option value="p" v-if="form.jenis_kelamin=='p'" selected>P</option>
                              <option value="p" v-else>P</option>
                              </select>
                              <small v-if="errors.jenis_kelamin" class="text-danger">{{errors.jenis_kelamin[0]}}</small>
                    </div>
                    <div class="form-group">
                              <label for="tanggal_lahir">Tanggal Lahir</label>
                              <input type="date" id="tanggal_lahir" v-model="form.tanggal_lahir" class="form-control">
                              <small v-if="errors.tanggal_lahir" class="text-danger">{{errors.tanggal_lahir[0]}}</small>
                    </div>
                    <div class="form-group">
                              <label for="alamat">Alamat</label>
                              <textarea id="alamat" v-model="form.alamat" class="form-control">
                              </textarea>
                              <small v-if="errors.alamat" class="text-danger">{{errors.alamat[0]}}</small>
                    </div>
                    <div class="form-group">
                              <label for="no_telp">No Telp</label>
                              <input type="number" id="no_telp" v-model="form.no_telp" class="form-control">
                              <small v-if="errors.no_telp" class="text-danger">{{errors.no_telp[0]}}</small>
                    </div>
                    <div class="form-group">
                              <label for="nama_kontak_darurat">Nama Kontak Darurat</label>
                              <input type="text" id="nama_kontak_darurat" v-model="form.nama_kontak_darurat" class="form-control">
                              <small v-if="errors.nama_kontak_darurat" class="text-danger">{{errors.nama_kontak_darurat[0]}}</small>
                    </div>
                    <div class="form-group">
                              <label for="no_telp_darurat">No Telp Darurat</label>
                              <input type="number" id="no_telp_darurat" v-model="form.no_telp_darurat" class="form-control">
                              <small v-if="errors.no_telp_darurat" class="text-danger">{{errors.no_telp_darurat[0]}}</small>
                    </div>
                    <div class="form-group">
                              <button class="btn btn-primary">Save</button>
                    </div>
                    </form>
                </div>
            </div>
</template>

<script>
    export default {
        data: function(){
            return{
                form:{
                    nama_lengkap:'',
                    jenis_kelamin:'',
                    tanggal_lahir:'',
                    alamat:'',
                    no_telp:'',
                    nama_kontak_darurat:'',
                    no_telp_darurat:''
                },
                errors:[]
            }
        },
        methods: {
            async store(){
                // console.log(this.form);
                try{
                let response = await axios.post('/profile/store',this.form);
                    // console.log(response.data);
                    if(response.data.response_status=='success'){
                    // console.log('berhasil');
                    alert('Berhasil Menyimpan Profile');
                    this.errors = [];
                    }
                }catch(e){
                    alert('Gagal Menyimpan Profile')
                this.errors =  e.response.data.errors;

                }
            },
            async getData(){
                // console.log(this.form);
                let response = await axios.get('/profile/user');
                    //  console.log(response.data);
                    if(response.data.response_status=='success'){
                        this.form = response.data.data;
                        this.form.jenis_kelamin = response.data.data.jenis_kelamin;
                    // console.log(this.form.jenis_kelamin);
                    }
                
            },
        selectedJK(s){
          this.selected =  s.target.value;
          this.form.jenis_kelamin = this.selected;
        //   console.log(this.form.jenis_kelamin)
        }
        },
        mounted() {
            this.getData();
        }
    }
</script>
