 <template>

<div class="card" >
                <div class="card-header bg-primary text-light">User Profile</div>

                <div class="card-body" v-if="profile.nama_lengkap">
                    <ul class="list-group">
                    <li class="list-group-item">Nama Lengkap: {{profile.nama_lengkap}}</li>
                    <li class="list-group-item">Jenis Kelamin: {{profile.jenis_kelamin}}</li>
                    <li class="list-group-item">Tanggal Lahir: {{profile.tanggal_lahir}}</li>
                    <li class="list-group-item">Alamat: {{profile.alamat}}</li>
                    <li class="list-group-item">No Telp: {{profile.no_telp}}</li>
                    <li class="list-group-item">Nama Kontak Darurat: {{profile.nama_kontak_darurat}}</li>
                    <li class="list-group-item">No Telp Darurat: {{profile.no_telp_darurat}}</li>
                    </ul>
                    <a class="btn btn-primary mt-1" href="/profile/edit">Update Profile</a>
                </div>
                <div class="card-body" v-else>
                <a class="btn btn-primary" href="/profile/create">Lengkapi Profile</a>
                </div>
            </div>
</template>

<script>
    export default {
        data: function(){
            return{
                profile:[]
            }
        },
        methods: {
            async getData(){
                // console.log(this.form);
                let response = await axios.get('/profile/user');
                     console.log(response.data);
                    if(response.data.response_status=='success'){
                        this.profile = response.data.data;
                    // console.log('berhasil');
                    }
                
            }
        },
        mounted() {
            this.getData();
        }
    }
</script>
